<h1>All Articles</h1>
<ul id="articles">
  <% @articles.each do |article| %>
	<a href="<%= article_path(article) %>">
		<li>
			<div class="flex-container">
				<div>
					<p><%= article.title %></p>
				</div>
				<div>
					<% if article.image.exists? %>
					  <%= image_tag article.image.url(:thumb) %><br/>
					<% end %>
				</div>
			</div>
		</li>
	</a>
  <% end %>
</ul>
<% if logged_in? %>
	<p> <%= link_to "Create a new article", new_article_path(), class: "new_article" %> </p>
<% end %>