<!-- comment -->
<h1><%= @tag.name.titleize %></h1>

<ul id="articles">
  <% @tag.articles.each do |article| %>
    <a href="<%= article_path(article) %>">
      <li>
        <p>
      	  <% if article.image.exists? %>
      	      <%= image_tag article.image.url(:thumb) %><br/>
      	  <% end %>
    	  </p>
      </li>
    </a>
  <% end %>
</ul>