html {
  background: url(http://visionarism.com/images/IMG_2764.jpg);
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  height: 92%;
}

body {
  height: 93%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.navbar li {
  float: left;
}

.navbar li p {
  padding: 0px 5px;
}

.navbar li a {
  font-size: 22px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.navbar .login {
  float: right;
  color: black;
}

a:link {
  color: green;
}

#logo {
  font-family: 'Shrikhand', cursive;
  text-shadow: #FC0 1px 0 10px;
  margin: 14px 0 14px 20px;
  font-size: 40px;
}

#container {
  width: 75%;
  margin: 10px auto;
  background: #fff;
  padding: 15px 30px;
  border: solid 1px black;
  min-height: 93%;
}

h1 {
  font-size: 20px;
  text-align: center;
}

.field {
  margin: 15px;
  text-align: center;
}

.actions {
  margin: 15px;
  text-align: center;
}

label {
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#loginbox {
  margin: 15px;
  text-align: center;
  font-size: 20px
}

#articles {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}

#articles a {
  width: 50%;
}

#content {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#content a li {
  margin: 15px;
}

.navbar a:hover {
  background-color: #d2b48c;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

#tags a[data-method="delete"] { 
    font-size: 10px;
}

#tags li {
  width: auto;
  float: left;
}

#backbutton {
  bottom: 100px;
  position: absolute;
  font-size: 22px;
  margin: 0;
}

input {
  font-size: 18px;
}

table {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#top * {
  display: inline;
}