html {
  background: url(http://visionarism.com/images/IMG_2764.jpg);
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  height: 96%;
}

body {
  height: 100%;
}

#top {
  display: flex;
  align-items:center;
}

.logo {
  font-family: 'Shrikhand', cursive;
  text-shadow: yellow .1px 0 .5em;
  margin: 0 0.7em .3em 1.2em;
  font-size: 2.2em;
  color: black;
}

.monkey:hover {
  transform: rotateY(180deg);
}

#monkey1 {
  height: 4.5em;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0);
}

.navbar a {
  text-decoration: none;
  color: black;
}
.navbar a:visited { color: black; }

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.navbar a:hover {
  background-color: black;
  color: white;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

.active {
  text-shadow: green .1em 0 0.5em;
}

.navbar li {
  float: left;
}

.navbar li p {
  padding: 0 .3em;
  text-align: center;
}

.navbar li a {
  font-size: 1.2em;
  display: block;
  text-align: center;
  padding: .8em 1em;
  text-decoration: none;
}

.login {
  float: right;
  color: black;
}

.login p {
  width: 12.5em;
  font-size: .8em;
}

#container {
  width: 72%;
  margin: 1% 15% 3% 15%;
  background: #fff;
  padding: 15px 30px;
  border: solid 1px black;
  min-height: 78%;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 1.7em;
  text-align: center;
}

#content a {
  color: black;
}

#articles a:visited {
  color: #800000;
}

#articles a img:hover {
  opacity: 0.8;
}

#articles {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
}

#articles a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-pic {
  margin-left: 1em;
}

#articles li {
  width: 44%;
  padding-left: 3%;
  padding-right: 3%;
}

#tags a[data-method="delete"] { 
    font-size: 10px;
    width: 50%;
}

#tags li {
  width: auto;
  float: left;
}

#loginbox {
  margin: 1em;
  text-align: center;
  font-size: 1.3em;
}

#backbutton {
  bottom: 10%;
  position: absolute;
  font-size: 1.4em;
  margin: 0;
}

input {
  font-size: 1em;
}

table {
  width: 100%;
}

.field {
  margin: 1em;
  text-align: center;
}

.actions {
  margin: 1em;
  text-align: center;
}

label {
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}